
.fb-button,
.google-button,
.twitter-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.fb-button {
    background-color: $fb-bg;
  }
  
.google-button {
    background-color:$google-bg;
  }
  
.twitter-button {
    background-color: $twitter-bg;
  }

.logo {
    display: flex;
    justify-content: flex-start;
    border-right: $solid-border;
    box-shadow: $solid-shadow;
    width: 10px;
    margin: 0 10px;
    padding-right: 15px;
  }
  
